apiVersion: apps/v1
kind: Deployment
metadata:
  name: quickship-payment
  namespace: default
spec:
  replicas: 2
  selector:
    matchLabels:
      app: quickship-payment
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxSurge: 1
      maxUnavailable: 0
  template:
    metadata:
      labels:
        app: quickship-payment
    spec:
      containers:
      - name: payment-api
        image: 592109679631.dkr.ecr.us-east-1.amazonaws.com/quickship-payment:v1
        imagePullPolicy: Always
        ports:
        - containerPort: 5000
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 10
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"
