apiVersion: v1
kind: Service
metadata:
  name: quickship-payment-svc
  namespace: default
  annotations:
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
spec:
  selector:
    app: quickship-payment
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
  type: LoadBalancer
